In [59]:
import pandas as pd

In [60]:
url = 'https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8#%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%B6%D1%83%D0%B2%D0%B0%D0%BD%D1%96%D1%81%D1%82%D1%8C'

In [61]:
data = pd.read_html(url, match='Коефіцієнт народжуваності в регіонах України', thousands=".", decimal=",")[0]

In [62]:
data_frame = pd.DataFrame(data)

In [63]:
data_nan = data_frame.replace(to_replace=r'—', value='NaN', regex=True)

In [64]:
data_number = data_frame.replace(to_replace=r'—', value=0, regex=True)

In [65]:
data_isnull = data.isnull().sum() / len(data)

In [66]:
data_total_delete = data_number.drop(index=data_number.index[-1])

In [67]:
data_mean = data_total_delete.fillna(data_total_delete.mean())

In [68]:
avg = data['2019'].mean()
result_avg = data.loc[data['2019'] > avg]

TypeError: Could not convert —7.610.17.1—7.910.46.88.88.06.8—8.77.18.86.510.76.07.66.88.17.96.49.26.111.0—8.1 to numeric

In [ ]:
print(data)

               Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0                Крим  23.0  20.6  16.0  13.0   7.3  12.6     —     —
1           Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2           Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3    Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4            Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2     —
5         Житомирська  26.1  22.3  15.9  12.9   8.9  12.2  12.0   7.9
6        Закарпатська  31.4  27.3  20.7  16.8  11.5  15.1  14.6  10.4
7          Запорізька  21.9  19.7  15.0  12.4   7.1  10.6  10.6   6.8
8   Івано-Франківська  24.3  24.8  18.2  15.5  10.3  12.4  12.2   8.8
9            Київська  20.4  18.9  15.6  12.3   7.3  12.2  12.1   8.0
10     Кіровоградська  21.6  17.1  14.5  12.6   7.9  11.0  10.8   6.8
11          Луганська  26.2  23.5  14.4  11.6   6.2   9.6   5.1     —
12          Львівська  23.4  24.0  17.1  14.0   9.1  11.9  11.9   8.7
13       Миколаївська  21.1  19.4  15.5  13.7   8.0  11.5  11.2   7.1
14            Одеська  24.1  19.2  14.8  12.6   8.0  12.7  12.3   8.8
15         Полтавська  18.6  16.3  13.1  11.8   7.0   9.9  10.0   6.5
16         Рівненська  26.9  26.7  19.3  15.8  11.8  15.9  14.8  10.7
17            Сумська  21.6  18.4  13.2  11.5   7.0   9.7   9.2   6.0
18      Тернопільська  21.3  21.6  15.7  14.2   9.2  11.3  10.9   7.6
19         Харківська  19.7  17.3  14.0  11.4   6.8   9.9  10.1   6.8
20         Херсонська  20.8  21.4  16.6  14.3   8.5  11.7  11.5   8.1
21        Хмельницька  23.4  19.8  14.8  12.9   8.5  11.3  11.2   7.9
22          Черкаська  20.5  17.9  14.4  12.3   7.5  10.0   9.8   6.4
23        Чернівецька  24.7  21.8  17.0  14.8  10.1  12.8  12.9   9.2
24       Чернігівська  22.0  18.3  12.7  10.8   6.9   9.4   9.0   6.1
25               Київ   NaN  17.4  15.9  12.0   7.3  12.0  12.1  11.0
26        Севастополь   NaN   NaN   NaN  12.5   7.0  12.0     —     —
27            Україна  22.8  20.5  15.2  12.6   7.8  11.4  11.1   8.1

In [ ]:
print(data.head())

             Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0              Крим  23.0  20.6  16.0  13.0   7.3  12.6     —     —
1         Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2         Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3  Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4          Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2     —

In [ ]:
print(data_frame.shape)

(28, 9)

In [ ]:
print(data_nan)

               Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0                Крим  23.0  20.6  16.0  13.0   7.3  12.6   NaN   NaN
1           Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2           Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3    Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4            Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2   NaN
5         Житомирська  26.1  22.3  15.9  12.9   8.9  12.2  12.0   7.9
6        Закарпатська  31.4  27.3  20.7  16.8  11.5  15.1  14.6  10.4
7          Запорізька  21.9  19.7  15.0  12.4   7.1  10.6  10.6   6.8
8   Івано-Франківська  24.3  24.8  18.2  15.5  10.3  12.4  12.2   8.8
9            Київська  20.4  18.9  15.6  12.3   7.3  12.2  12.1   8.0
10     Кіровоградська  21.6  17.1  14.5  12.6   7.9  11.0  10.8   6.8
11          Луганська  26.2  23.5  14.4  11.6   6.2   9.6   5.1   NaN
12          Львівська  23.4  24.0  17.1  14.0   9.1  11.9  11.9   8.7
13       Миколаївська  21.1  19.4  15.5  13.7   8.0  11.5  11.2   7.1
14            Одеська  24.1  19.2  14.8  12.6   8.0  12.7  12.3   8.8
15         Полтавська  18.6  16.3  13.1  11.8   7.0   9.9  10.0   6.5
16         Рівненська  26.9  26.7  19.3  15.8  11.8  15.9  14.8  10.7
17            Сумська  21.6  18.4  13.2  11.5   7.0   9.7   9.2   6.0
18      Тернопільська  21.3  21.6  15.7  14.2   9.2  11.3  10.9   7.6
19         Харківська  19.7  17.3  14.0  11.4   6.8   9.9  10.1   6.8
20         Херсонська  20.8  21.4  16.6  14.3   8.5  11.7  11.5   8.1
21        Хмельницька  23.4  19.8  14.8  12.9   8.5  11.3  11.2   7.9
22          Черкаська  20.5  17.9  14.4  12.3   7.5  10.0   9.8   6.4
23        Чернівецька  24.7  21.8  17.0  14.8  10.1  12.8  12.9   9.2
24       Чернігівська  22.0  18.3  12.7  10.8   6.9   9.4   9.0   6.1
25               Київ   NaN  17.4  15.9  12.0   7.3  12.0  12.1  11.0
26        Севастополь   NaN   NaN   NaN  12.5   7.0  12.0   NaN   NaN
27            Україна  22.8  20.5  15.2  12.6   7.8  11.4  11.1   8.1

In [ ]:
print(data_frame.dtypes)

Регіон     object
1950      float64
1960      float64
1970      float64
1990      float64
2000      float64
2012      float64
2014       object
2019       object
dtype: object

In [ ]:
print(data_number)

               Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0                Крим  23.0  20.6  16.0  13.0   7.3  12.6     0     0
1           Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2           Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3    Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4            Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2     0
5         Житомирська  26.1  22.3  15.9  12.9   8.9  12.2  12.0   7.9
6        Закарпатська  31.4  27.3  20.7  16.8  11.5  15.1  14.6  10.4
7          Запорізька  21.9  19.7  15.0  12.4   7.1  10.6  10.6   6.8
8   Івано-Франківська  24.3  24.8  18.2  15.5  10.3  12.4  12.2   8.8
9            Київська  20.4  18.9  15.6  12.3   7.3  12.2  12.1   8.0
10     Кіровоградська  21.6  17.1  14.5  12.6   7.9  11.0  10.8   6.8
11          Луганська  26.2  23.5  14.4  11.6   6.2   9.6   5.1     0
12          Львівська  23.4  24.0  17.1  14.0   9.1  11.9  11.9   8.7
13       Миколаївська  21.1  19.4  15.5  13.7   8.0  11.5  11.2   7.1
14            Одеська  24.1  19.2  14.8  12.6   8.0  12.7  12.3   8.8
15         Полтавська  18.6  16.3  13.1  11.8   7.0   9.9  10.0   6.5
16         Рівненська  26.9  26.7  19.3  15.8  11.8  15.9  14.8  10.7
17            Сумська  21.6  18.4  13.2  11.5   7.0   9.7   9.2   6.0
18      Тернопільська  21.3  21.6  15.7  14.2   9.2  11.3  10.9   7.6
19         Харківська  19.7  17.3  14.0  11.4   6.8   9.9  10.1   6.8
20         Херсонська  20.8  21.4  16.6  14.3   8.5  11.7  11.5   8.1
21        Хмельницька  23.4  19.8  14.8  12.9   8.5  11.3  11.2   7.9
22          Черкаська  20.5  17.9  14.4  12.3   7.5  10.0   9.8   6.4
23        Чернівецька  24.7  21.8  17.0  14.8  10.1  12.8  12.9   9.2
24       Чернігівська  22.0  18.3  12.7  10.8   6.9   9.4   9.0   6.1
25               Київ   NaN  17.4  15.9  12.0   7.3  12.0  12.1  11.0
26        Севастополь   NaN   NaN   NaN  12.5   7.0  12.0     0     0
27            Україна  22.8  20.5  15.2  12.6   7.8  11.4  11.1   8.1

In [ ]:
print(data_isnull)

Регіон    0.000000
1950      0.071429
1960      0.035714
1970      0.035714
1990      0.000000
2000      0.000000
2012      0.000000
2014      0.000000
2019      0.000000
dtype: float64

In [ ]:
print(data_total_delete)

               Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0                Крим  23.0  20.6  16.0  13.0   7.3  12.6     0     0
1           Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2           Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3    Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4            Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2     0
5         Житомирська  26.1  22.3  15.9  12.9   8.9  12.2  12.0   7.9
6        Закарпатська  31.4  27.3  20.7  16.8  11.5  15.1  14.6  10.4
7          Запорізька  21.9  19.7  15.0  12.4   7.1  10.6  10.6   6.8
8   Івано-Франківська  24.3  24.8  18.2  15.5  10.3  12.4  12.2   8.8
9            Київська  20.4  18.9  15.6  12.3   7.3  12.2  12.1   8.0
10     Кіровоградська  21.6  17.1  14.5  12.6   7.9  11.0  10.8   6.8
11          Луганська  26.2  23.5  14.4  11.6   6.2   9.6   5.1     0
12          Львівська  23.4  24.0  17.1  14.0   9.1  11.9  11.9   8.7
13       Миколаївська  21.1  19.4  15.5  13.7   8.0  11.5  11.2   7.1
14            Одеська  24.1  19.2  14.8  12.6   8.0  12.7  12.3   8.8
15         Полтавська  18.6  16.3  13.1  11.8   7.0   9.9  10.0   6.5
16         Рівненська  26.9  26.7  19.3  15.8  11.8  15.9  14.8  10.7
17            Сумська  21.6  18.4  13.2  11.5   7.0   9.7   9.2   6.0
18      Тернопільська  21.3  21.6  15.7  14.2   9.2  11.3  10.9   7.6
19         Харківська  19.7  17.3  14.0  11.4   6.8   9.9  10.1   6.8
20         Херсонська  20.8  21.4  16.6  14.3   8.5  11.7  11.5   8.1
21        Хмельницька  23.4  19.8  14.8  12.9   8.5  11.3  11.2   7.9
22          Черкаська  20.5  17.9  14.4  12.3   7.5  10.0   9.8   6.4
23        Чернівецька  24.7  21.8  17.0  14.8  10.1  12.8  12.9   9.2
24       Чернігівська  22.0  18.3  12.7  10.8   6.9   9.4   9.0   6.1
25               Київ   NaN  17.4  15.9  12.0   7.3  12.0  12.1  11.0
26        Севастополь   NaN   NaN   NaN  12.5   7.0  12.0     0     0

In [ ]:
print(data_mean)

               Регіон    1950       1960  1970  1990  2000  2012  2014  2019
0                Крим  23.000  20.600000  16.0  13.0   7.3  12.6     0     0
1           Вінницька  22.400  19.200000  14.2  12.4   8.4  11.2  10.9   7.6
2           Волинська  24.700  25.000000  17.9  15.3  11.2  14.8  14.1  10.1
3    Дніпропетровська  20.400  20.400000  15.1  12.3   7.1  11.2  11.1   7.1
4            Донецька  27.100  21.400000  14.0  10.9   6.1   9.8   8.2     0
5         Житомирська  26.100  22.300000  15.9  12.9   8.9  12.2  12.0   7.9
6        Закарпатська  31.400  27.300000  20.7  16.8  11.5  15.1  14.6  10.4
7          Запорізька  21.900  19.700000  15.0  12.4   7.1  10.6  10.6   6.8
8   Івано-Франківська  24.300  24.800000  18.2  15.5  10.3  12.4  12.2   8.8
9            Київська  20.400  18.900000  15.6  12.3   7.3  12.2  12.1   8.0
10     Кіровоградська  21.600  17.100000  14.5  12.6   7.9  11.0  10.8   6.8
11          Луганська  26.200  23.500000  14.4  11.6   6.2   9.6   5.1     0
12          Львівська  23.400  24.000000  17.1  14.0   9.1  11.9  11.9   8.7
13       Миколаївська  21.100  19.400000  15.5  13.7   8.0  11.5  11.2   7.1
14            Одеська  24.100  19.200000  14.8  12.6   8.0  12.7  12.3   8.8
15         Полтавська  18.600  16.300000  13.1  11.8   7.0   9.9  10.0   6.5
16         Рівненська  26.900  26.700000  19.3  15.8  11.8  15.9  14.8  10.7
17            Сумська  21.600  18.400000  13.2  11.5   7.0   9.7   9.2   6.0
18      Тернопільська  21.300  21.600000  15.7  14.2   9.2  11.3  10.9   7.6
19         Харківська  19.700  17.300000  14.0  11.4   6.8   9.9  10.1   6.8
20         Херсонська  20.800  21.400000  16.6  14.3   8.5  11.7  11.5   8.1
21        Хмельницька  23.400  19.800000  14.8  12.9   8.5  11.3  11.2   7.9
22          Черкаська  20.500  17.900000  14.4  12.3   7.5  10.0   9.8   6.4
23        Чернівецька  24.700  21.800000  17.0  14.8  10.1  12.8  12.9   9.2
24       Чернігівська  22.000  18.300000  12.7  10.8   6.9   9.4   9.0   6.1
25               Київ  23.104  17.400000  15.9  12.0   7.3  12.0  12.1  11.0
26        Севастополь  23.104  20.757692  15.6  12.5   7.0  12.0     0     0

In [ ]:
print(result_avg)

NameError: name 'result_avg' is not defined